<!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= 
 | All Code Copyright 2016 Stone Environmental, Inc.
 | This program is free software: you can redistribute it and/or modify
 | it under the terms of the GNU Affero General Public License as published
 | by the Free Software Foundation, either version 3 of the License, or
 | (at your option) any later version.
 |
 | This program is distributed in the hope that it will be useful,
 | but WITHOUT ANY WARRANTY; without even the implied warranty of
 | MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 | GNU Affero General Public License for more details.
 |
 | You should have received a copy of the GNU Affero General Public License
 | along with this program.  If not, see <http://www.gnu.org/licenses/>.
 |
 | Author: Nick Floersch - nick@stone-env.com
 | File: landingPage.html
 | Description: HTML template for landing page.
 \ =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
<div class="landingWrapper">
  <p>The 46th Green Up Day Is Coming Up On May 7th, 2016!</p>
  <p></p>
  <p>Welcome to the Green Up Richmond (Vermont) "Road Adopter" application.</p>
  <p>This tool allows green-oriented, civic-minded community members to "adopt" or "pledge" to green-up a particular portion of road or trail in Richmond.</p>
  <p>This tool is very new and likely to have numerous bugs. Let us just hope it works well enough to get Green Up organized for 2016.</p>
  <p>If you have any questions about Green Up Day in Richmond, please contact <u>REMOVED</u> - <a target="_blank" href="mailto:REMOVED">REMOVED</a></p>
  <p>For more information about Green Up Day in Vermont, visit the official <a href="http://www.greenupvermont.org/" target="_blank">Green Up Vermont website.</a></p>
  <div class="getStarted">
     <a ui-sref="map">
       Click here to explore the town roads, and perhaps even adopt one &gt;&gt;&gt;
     </a>
  </div>
  <p></p>
  <p class="disclaimer">Please Note: this tool will ask you for <i>an</i> e-mail address when you adopt a road. The e-mail addresses are not used for anything other than Richmond Green Up communications. The e-mail addresses are not displayed in the application - the first part of the address (the part before the @) is displayed as the "owner" of a road adoption. The second part is kept private. If you are really concerned, you don't have to give a totally valid address as long as you can remember whatever you enter if you want change your road adoption later. However, if you enter a valid e-mail address, the Richmond Green Up folks can contact you in the future.</p>
  <p class="disclaimer">This site has basic usage metric tracking but it is not tied to individuals, and not used for commercial purposes. The data is collected as part of the web hosting and may or may not be perused before next year's Green Up to see if we should tweak the application for compatibility with different web browsers, or mobile devices, etc.</p>
  <p class="disclaimer">If you are having trouble with the web application, or have concerns or questions, contact the tool developer, <a target="_blank" href="mailto:nick@floersch.net">Nick Floersch</a>.
</div>